// ===========================================================================
//  カラー
// ===========================================================================
// 共通カラー
$color-main: #bb0229;
$color-base: #e8eef5;

// フォントカラー
$color_font: #333;

// リンクカラー
$color_link: #0f50b3;
$color_link-hover: #0066ff;

// ボーダーカラー
$color_border-gray: #b5b5b5;

// 背景カラー
$color_bg-gray: #f2f2f2;

// ===========================================================================
//  画面サイズ
// ============================================================================
// 標準サイズ
$width_base: 94%;		// 基本幅
$width_max: 920px;		// 最大幅

// 大きいサイズ（ヘッダー・フッターなど）
$width_max-l: 960px;	// 最大幅

// 小さいサイズ（1カラムのテキストページなど）
$width_max-s: 900px;	// 最大幅

// スマホのガターサイズ
$gutter-sp: (100% - $width_base) / 2;

// ヘッダーサイズ
$header_height-m: 80px;
$header_height-s: 50px;

// ===========================================================================
//  フォント
// ===========================================================================
// フォントファミリー
$font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;

// フォントサイズ
$font_size: 1.4rem;

// ===========================================================================
//  ブレークポイント
// ===========================================================================
$breakpoint: (
    s: 'only screen and (max-width: 767px)',
    m: 'only screen and (max-width: 1024px)',
    l: 'only screen and (max-width: 1280px)',
    m-min: 'only screen and (min-width: 768px)',
	p: 'print'
);
